h1 {
    font-family: 'padmaa-Bold.1.1';
    text-transform: uppercase;
    text-align: center;
}

body{
    background-image: url('background.jpg');
    background-color: #A5D6D9;
    width: 750px;
    margin: auto;
    position: center;
}

tr {
    position: center;
    text-align: center;
}

td {

    margin: auto;
    padding: 7px;
    border: 1px solid black;
    position: center;
    text-align: center;

}

th {

    margin: auto;
    padding: 7px;
    border: 1px solid black;
    position: center;
    text-align: center;

}

li {
    padding: 7px;
    margin: 7px;
}

.comments {
    padding: 7px;
    margin: 7px;
}

button {
    background-color: darkblue;
    color: antiquewhite;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

textarea {
    margin: 10px;
}

p.question-message {
    font-size: 20px;
}


p {
    margin: 5px;
}

#comment {
    border: none;
}