{% extends "layout.html" %}
{% block content %}
        <h1>{{ question.title }}</h1><br>
    {% if question.user_name %}
        <h2>BY {{ question.user_name }}</h2>
    {% endif %}
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Views</th>
        </tr>
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.submission_time }}</td>
            <td>{{ question.view_number }}</td>
        </tr>
    </table><br>
    <p class="question-message ">{{ question.message }}</p>
    <h4>Question comments:</h4>
        {% for comment in comments %}
            <p class="comments">{{ comment.submission_time }} : {{ comment.message }}
                {% if user %}
                    <a class ='button' href="/comments/{{ comment.id }}/delete">Delete comment</a></p>
                {% endif %}
        {% endfor %}
    {% if user %}
        <a class ='button' href="/question/{{ question.id }}/new-comment">Add a comment</a><br>
    {% endif %}

    <h4>Answers:</h4>
        <table>
            {% for answer in answers %}
                <tr>
                    <td class="answer">{{ answer.submission_time }}</td>
                    <td class="answer">{{ answer.message }}</td>
                    {% if answer.user_name %}
                    <td class="answer">{{ answer.user_name }}</td>
                    {% endif %}
                    {% if user %}
                        <td><a class ='button' href='/answer/{{ answer.id }}/edit'>Edit answer</a></td>
                        <td><a class ='button' href="/answer/{{ answer.id }}/new-comment">Add comment to answer</a></td>
                    {% endif %}
                {% if answer_comments %}
                    <td id="comment">
                    {% for ans_comment in answer_comments %}
                        {% if ans_comment.answer_id == answer.id %}
                            <p class="comments">{{ ans_comment.submission_time }} : {{ ans_comment.message }}</p>
                        {%  endif %}
                    {% endfor %}
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </table><br>

    {% if user %}
        <p><a class ='button' href="/question/{{ question.id }}/new-answer">Post an answer</a></p><br>
    {% endif %}
    <p><a class ='animated' href="/list">Back to Questions</a></p>

{% endblock %}