<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display a question</title>
</head>
<body>
    <h1>{{ question.title }}</h1><br>
    <p>ID: {{ question.id }}</p>
    <p>Submission time: {{ question.submission_time }}</p>
    <p>Number of views: {{ question.view_number }}</p>
    <p>{{ question.message }}</p>
    <h3>Question comments:</h3>
        <ul>
        {% for comment in comments %}
            <li>{{ comment.submission_time }} : {{ comment.message }}
                <a href="/comments/{{ comment.id }}/delete">Delete comment</a></li>
        {% endfor %}
        </ul>
    <a href="/question/{{ question.id }}/new-comment">Add a comment</a><br>

    <h3>Answers:</h3>
        <table>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.submission_time }}</td>
                    <td>{{ answer.message }}</td>
                    <td><a href='/answer/{{ answer.id }}/edit'>Edit answer</a></td>

                    <td><a href="/answer/{{ answer.id }}/new-comment">Add comment to answer</a></td>
                </tr>
            {% endfor %}
        </table><br>
    <ul>
        {% for a_comment in answer_comments %}
            <li>{{ a_comment.submission_time }} : {{ a_comment.message }}</li>
        {% endfor %}
    </ul>

    <a href="/question/{{ question.id }}/new-answer">Post an answer</a><br>

    <a href="/list">Back to Questions</a>
</body>
</html>