{% extends "layout.html" %}
{% block content %}
    <h1>WELCOME to Ask Mate</h1>
    {% if username %}
        <a href="{{ url_for('logout') }}" class="animated">Log out</a><br>
    {% else %}
        <a href="/registration" class="animated">Registration</a>
        <a href="/login" class="animated">Log in</a><br>
    {% endif %}
    <a href="/list-registered-users">All registered users</a><br>
    <p>
    {% if username %}
        <strong>{{ username }}</strong> you are successfully logged in!
    {% endif %}
    </p><br>

    <table>
        <tr>
            <th>Time of submission</th>
            <th>Title</th>
            <th>Number of views</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td>{{ question.submission_time }}</td>
                <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
                <td>{{ question.view_number }}</td>
            </tr>
        {% endfor %}
    </table>

    <p><a class ='animated' href="/list">Questions</a></p><br>

    <form action="{{ url_for('search') }}" method="post">
        <label for="search">Search</label><br>
        <textarea id="search" name="search_phrase" rows="1" cols="20" required></textarea><br>
        <button class="button search" type="submit">Search!</button>
    </form><br>

{% endblock %}