{% extends "layout.html" %}
{% block content %}
    <h1>WELCOME to Ask Mate</h1>

    {% if username %}
        <form action="{{ url_for('logout') }}" method="get">
        <button class="animated" type="submit">Log out</button></form>
    {% else %}
        <form action='{{ url_for('registration') }}' method="get">
        <button class="animated" type="submit">Registration</button></form>
        <form action='{{ url_for('login') }}' method="get">
        <button class="animated" type="submit">Log in</button></form><br>
    {% endif %}
    <a href="/list-registered-users">All registered users</a><br>
    <p>
    {% if username %}
        {{ username }} you are successfully logged in!
    {% endif %}
    </p><br>

    <table>
        <tr>
            <th>Time of submission</th>
            <th>Title</th>
            <th>Number of views</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td>{{ question.submission_time }}</td>
                <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
                <td>{{ question.view_number }}</td>
            </tr>
        {% endfor %}
    </table>

    <p><a href="/list">Questions</a></p><br>

    <form action="{{ url_for('search') }}" method="post">
        <label for="search">Search</label><br>
        <textarea id="search" name="search_phrase" rows="1" cols="20" required></textarea><br>
        <button class="button search" type="submit">Search!</button>
    </form><br>

{% endblock %}