{% extends "layout.html" %}
{% block content %}
    <h1>WELCOME to Ask Mate</h1>
    <p>
    {% if user_name is not none %}
        Logged in as {{ username }}
    {% endif %}
    </p>
    <table>
        <tr>
            <th>Time of submission</th>
            <th>Title</th>
            <th>Number of views</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td>{{ question.submission_time }}</td>
                <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
                <td>{{ question.view_number }}</td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="/list">Questions</a></p><br>

    <form action="{{ url_for('search') }}" method="post">
        <label for="search">Search</label><br>
        <textarea id="search" name="search_phrase" rows="1" cols="20" required></textarea><br>
        <button type="submit">Search!</button>
    </form><br>
    <a href="/registration">Registration</a><br>
    <a href="/login">Log in</a><br>
    <a href="{{ url_for('logout') }}">Log out</a>

    <a href="/list-registered-users">All registered users</a>
{% endblock %}